.application{ 
	display:table;
 	max-width:375px;
 	max-height:275px;
 	margin-right: auto;
 	margin-left: auto;
}
#counters{
	display: inline-block;
	text-align:left;
}
#counterView{
	padding:30px;
	display: table-cell;
	vertical-align: middle;
	text-align:right;
	width:100%;
}