#app{
	display:table;
	height:100%;
	width:100%
}
.row{
	display: table-row;
}
.sidebar{
	display:table-cell;
	background-color:#efdec2;
	padding:0px;
	margin:0px;
	height:100%;
}
.sidebar-links li{
	color:white;
	list-style-type: none;
	margin-top:20px;
	margin-bottom:20px;
}
.sidebar-links ul{
	color:white;
}
.sidebar-links a{
	font-size:25px;
	color:white;
}
body{
	background-color:#71EEB8;
	font-family: 'Helvetica','Veranda';
	height:100%;
}
.maincontent{
	display:table-cell;
}