body{
}
#svgCanv{
	background-color: #f5f4e1;
	width: 600px;
  	height: 600px;
  	border-style: solid;
  	border-width: 0px;
	position: relative;
	left: -20px;
	box-shadow: 8px 8px 4px #888888;
	border-radius: 25px;
}

#simulation-log{
	background-color: #e3dde6;
	height: 200px;
	width: 300px;
	padding: 10px;
	border-radius: 25px 0px 0px 25px;
	border-radius: 25px;
}
h1{
	padding-top:10px;
}
#title-bar{
	background: #71adc1;
	width:900px;
	color: white;
	height: 55px;
	border-radius: 12px;
	margin-bottom:10px;
}

#device-log{
	background-color: #f2f2f2;
	height: 150px;
	width: 580px;
	padding: 10px;
	border-radius: 25px 0px 0px 25px;
}

#log-dates{
	background-color: #f2f2f2;
	height:650px;
	width: 250px;
	padding: 10px;
	border-radius: 25px 0px 0px 25px;
}
.cell{
	display:table-cell;
}
.row{
	display:table-row;
}

h3, h1{
	text-align: center;
}