

#uploadButton{
	text-align:center;
	font-size:30px;
	padding: 4px 4px 4px 4px;
	border-radius:25px;
	width: 350px;
	height: 100px;
	background-color: #4CD690;
	color:white;
	border: none;
    outline:none;
}
#uploadButton:hover{
	text-decoration: none;
	background-color:#2fcc7c;
}

.uploadContainer{

	padding:50px;

}