svg {
  width: 800px;
  height: 800px;
  border-style: solid;
  border-width: 1px;
	position: relative;
	left: -20px;
}

.viable-partition{
	fill:red;
	stroke: blue;
	stroke-dasharray: 20,5;
	stroke-width:5;
}

.name-text{
	
}

.held-object{
	
}
.network-connection{
	fill:black;
	stroke-width:5;
	stroke:black;
}

.device {
	fill: #FF8300;
}

.network{
	fill: #33CCFF;
	stroke: black;
}

.drop-locations{
	stroke: #FFC12B;
	stroke-dasharray: 10,5;
	stroke-width:4;
}

.drop-target{
	fill: #FFC12B;
}
.can-drop{
	fill: #0430FB;
}

body { 
	margin: 0; 
}