<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title></title>
    <link rel="stylesheet" href="../public/stylesheets/topologyView.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="EventLogView.css" media="screen" type="text/css" />
    <script src="EventLogView.js" type="text/javascript"></script>
</head>

<body>
	<h1 id ="page-title">Event Logs for Simulation "SIMULATIONNAME"</h1>
		<div class = "row">
			<div class="cell">
				<script src='../public/ClientJS/interact-1.2.2.js'></script>
				<svg>
				</svg>
			</div>
			<div class = "cell">
				<select size = "10" id ="log-dates" onchange="selectSimulationDate(this.value)"><option value="jeff">gag</option><option>gag2</option></select>
			</div>
		</div>
		<div class = "row">
			<div class= "cell">
				<h3 id="deviceLog-title">Viewing Event Log For: Device[i]</h3>
				<select size = "10" id ="device-log"></select>
			</div>
			<div class="cell">
				<h3>Simulation Event Logs</h3>
				<select size = "10" id ="simulation-log"></select>
			</div>
		</div>
</body>
</html>