<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title></title>
    <link rel="stylesheet" href="../public/stylesheets/topologyView.css" media="screen" type="text/css" />
</head>

<body>
	<script src='../public/ClientJS/interact-1.2.2.js'></script>
	<div id="bigDiv">
	<svg>
	</svg>
	
	<script src='../public/ClientJS/interact-1.2.2.js'></script>

	<script src='../public/ClientJS/toplogyManipulationGUI.js'></script>
	<br>
	<button class="buttton" type="button" onclick = createDeviceGraphic()>New Device</button>
	<button class="buttton"  type="button" onclick = createNetworkGraphic()>New Network</button>
	<button class="buttton"  type="button" onclick = generateTopology(testConfigMap1,800)>Load Configuration 1</button>
	<button class="buttton" type="button" onclick = generateTopology(testConfigMap2,800)>Load Configuration 2</button>
	<button class="buttton" type="button" onclick = generateTopology(testConfigMap3,800)>Load Configuration 3</button>
	<button class="buttton" type="button" onclick = clearCanvas()>Clear Canvas</button>
	</div>
</body>

</html>