<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title></title>
    <link rel="stylesheet" href="../public/stylesheets/topologyView.css" media="screen" type="text/css" />
    <script src="../public/ClientJS/Utilities.js"></script>
</head>

<"C:/Users/Noah/git/sim-2"body>
	<script src='../public/ClientJS/interact-1.2.2.js'></script>
	<svg>
	</svg>
	
	<script src='../public/ClientJS/interact-1.2.2.js'></script>

	<script src='../public/ClientJS/toplogyManipulationGUI.js'></script>
	<br>
	<button type="button" onclick = createDeviceGraphic()>New Device</button>
	<button type="button" onclick = createNetworkGraphic()>New Network</button>
	<button type="button" onclick = generateTopology(testConfigMap1,800)>Load Configuration 1</button>
	<button type="button" onclick = generateTopology(testConfigMap2,800)>Load Configuration 2</button>
	<button type="button" onclick = generateTopology(testConfigMap3,800)>Load Configuration 3</button>
	<button type="button" onclick = clearCanvas()>Clear Canvas</button>
</body>

</html>