svg {
  width: 800px;
  height: 800px;
  border-style: solid;
  border-width: 5px;
}
.viable-partition{
	fill:red;
	stroke: blue;
	stroke-dasharray: 20,5;
	stroke-width:5;
}
.network-connection{
	fill:black;
	stroke-dasharray: 20,5;
	stroke-width:5;
	stroke:black;
}
.connection-node{
	fill:grey;
}

.device {
	fill: red;
}

.network{
	fill: green;
	stroke: black;
}

.create-partition{
	stroke: white;
	stroke-dasharray: 20,5;
	stroke-width:5;
}

.drop-locations{
	stroke: orange;
	stroke-dasharray: 20,5;
	stroke-width:5;
}

.drop-target{
	fill: blue;
}
.can-drop{
	fill: yellow;
}

body { 
	margin: 0; 
}