svg {
  width: 800px;
  height: 800px;
  border-style: solid;
  border-width: 5px;
}

.device {
	fill: red;
	stroke: black;
	stroke-dasharray: 10,10;
}

.possibleDrop{
	border-color: #666;
	border-width: 5px;
	border-style: dashed;
}

.drop-target{
	fill:black;
}
.can-drop{
	fill: yellow;
}

.network{
	fill: green;
	stroke: black;
}

body { 
	margin: 0; 
}